<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Face Recognition | STTB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 320px;
            height: 480px;
            overflow: hidden;
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }
        .box_padding {
            padding: 3px;
        }
        .center_all {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .video_stream {
            max-width: 100%;
            max-height: 100%;
        }
        .card {
            margin-bottom: 10px;
        }
        .button_width {
            width: 100%;
        }
        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .button-container form {
            width: 80%;
            margin: 2px 0;
        }
        .button-container button {
            width: 100%;
        }
    </style>
</head>
<body>
    <!-- Display flash messages in a modal -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="modal fade" id="notificationModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    autoHideModal();
                });
            </script>
        {% endif %}
    {% endwith %}

    <div class="center_all">
        <div class="flex">Nama : </div>
        <div id="name_">-</div>
    </div>
    <div>
        <img class="rounded video_stream" src="{{ url_for('video_feed')}}" alt="Camera Error">
    </div>

    <div class="d-flex flex-column">
        <div class="center_all" id="datetime">
            <!-- <p id="datetime" class="center_all"></p> -->
        </div>
       <!-- <div class="center_all">
            <div class="flex">Nama : </div>
            <div id="name_">-</div>
       </div> !--> 
    </div>

    <div class="button-container">
        <form id="form_in" action="{{ url_for('submit_facerec_') }}" method="post" onsubmit="updateHiddenInput('form_in')">
            <input type="hidden" id="time_category" name="time_category" value="IN"> 
            <input type="hidden" id="name_input" name="name_input" value=""> 
            <button type="submit" class="center_all btn btn-lg btn-success button_width" id="IN">IN</button>
        </form>
        <form id="form_out" action="{{ url_for('submit_facerec_') }}" method="post" onsubmit="updateHiddenInput('form_out')">
            <input type="hidden" id="time_category" name="time_category" value="OUT">
            <input type="hidden" id="name_input" name="name_input" value=""> 
            <button type="submit" class="center_all btn btn-lg btn-danger button_width" id="OUT">OUT</button>
        </form>
    </div>

    <div class="row">
        <div class="col-5 center_all" style="font-size: 10px;">Nama</div>
        <div class="col-2 center_all" style="font-size: 10px;">Kategori</div>
        <div class="col-5 center_all" style="font-size: 10px;">Waktu</div>
    </div>
    <div class="row">
        {% for row in data_csv %}
        <div class="col-5 center_all" style="font-size: 10px;">{{ row[0] }}</div>
        <div class="col-2 center_all" style="font-size: 10px;">{{ row[1] }}</div>
        <div class="col-5 center_all" style="font-size: 10px;">{{ row[2] }}</div>
        {% endfor %}
    </div>

    <!-- <div class="">
        <div>
            <h3 class="center_all" style="padding-top: 20px;">Presensi Face Recognition</h3>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="center_all">
                    <img class="rounded video_stream" src="{{ url_for('video_feed') }}" alt="Camera Error">
                </div>
            </div>
            <div class="center_all">
                <div>
                    <h5>Predictions</h5>
                </div>
                <h6 id="datetime"></h6>
                <h6>Nama :</h6>
                <h6 id="name_">-</h6>
                <h6>Data Terakhir</h6>
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th style="font-size: small;">Nama</th>
                                <th style="font-size: small;">Kategori</th>
                                <th style="font-size: small;">Waktu</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data_csv %}
                            <td><p style="font-size: 10px;">{{ row[0] }}</p></td>
                            <tr>
                                <td><p style="font-size: 10px;">{{ row[1] }}</p></td>
                                <td><p style="font-size: 10px;">{{ row[2] }}</p></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <form id="form_in" action="{{ url_for('submit_facerec') }}" method="post" onsubmit="updateHiddenInput('form_in')">
                        <input type="hidden" id="time_category" name="time_category" value="IN"> 
                        <input type="hidden" id="name_input" name="name_input" value=""> 
                        <button type="submit" class="btn btn-sm btn-success button_width" id="IN">IN</button>
                    </form>
                    <form id="form_out" action="{{ url_for('submit_facerec') }}" method="post" onsubmit="updateHiddenInput('form_out')">
                        <input type="hidden" id="time_category" name="time_category" value="OUT">
                        <input type="hidden" id="name_input" name="name_input" value=""> 
                        <button type="submit" class="btn btn-sm btn-danger button_width" id="OUT">OUT</button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
</body>
</html>
<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

<script language="javascript">
    function updateName() {
        var name_ = document.getElementById('name_');
        var originalText = name_.textContent;
        setInterval(function() {
            if (name_.textContent != originalText) {
                //console.log(name_.textContent);
                originalText = name_.textContent;
            }
        }, 800);
    }
    updateName();

    function updateDateTime() {
        var now = new Date();
        var days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'];
        var day = days[now.getDay()];
        var date = now.getDate().toString().padStart(2, '0');
        var month = (now.getMonth() + 1).toString().padStart(2, '0'); // Bulan dimulai dari 0
        var year = now.getFullYear();
        var hours = now.getHours().toString().padStart(2, '0');
        var minutes = now.getMinutes().toString().padStart(2, '0');
        var seconds = now.getSeconds().toString().padStart(2, '0');

        var currentDate = day + ', ' + date + '/' + month + '/' + year;
        var currentTime = hours + ':' + minutes + ':' + seconds;

        document.getElementById('datetime').innerText = currentDate + ' ' + currentTime;
    }

    function startDateTime() {
        updateDateTime(); // Panggil pertama kali untuk menampilkan waktu langsung
        setInterval(updateDateTime, 1000); // Perbarui waktu setiap detik
    }

    window.onload = startDateTime;

    function updateHiddenInput(formId) {
        // Get the value of the h5 element with id "name_"
        var name_ = document.getElementById('name_').textContent;
        console.log(name_)
        // Set this value to the hidden input field with id "name_input"
        //document.getElementById('name_input').value = originalText;
        //document.querySelector(`#${formId} input[name="name_input"]`).value = name_;
        document.querySelector(`#${formId} input[name="name_input"]`).value = name_;
    }

    // Function to hide the modal automatically after a few seconds
    function autoHideModal() {
        var modal = new bootstrap.Modal(document.getElementById('notificationModal'));
        modal.show();
        setTimeout(function() {
            modal.hide();
        }, 3000); // Hide after 3 seconds
    }

    // Function to refresh the page every 60 seconds
    function autoRefresh() {
        location.reload();
    }

    // Function to fetch predictions from the server
    function updatePredictions() {
        fetch('/pred')
            .then(response => response.json())
            .then(data => {
                document.getElementById('name_').textContent = data.name_;
            });
    }

    // Call autoRefresh every 60 seconds
    setInterval(autoRefresh, 60000);

    // Call updatePredictions every second
    setInterval(updatePredictions, 500);
</script>
