<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Webcam Stream</title>
  </head>
  <body>
    <button type="button" class="btn btn-primary"><a href="/face_recognition/facerec"><h1>/face_recognition/facerec</h1></a></button>
    <button type="button" class="btn btn-primary"><a href="/face_recognition/facerec_group"><h1>/face_recognition/facerec_group</h1></a></button>
    <button type="button" class="btn btn-primary"><a href="/ocr/plat_number"><h1>/ocr/plat_number</h1></a></button>
  </body>
</html>