<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask APP | STTB</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="d-grid gap-2 col-6 mx-auto mt4-2">
    <a href="/face_recognition/facerec_" class="btn btn-secondary mt-4">Facerec Mini</a>
    <a href="/face_recognition/facerec" class="btn btn-secondary mt-4">Facerec</a>
    <a href="/face_recognition/facerec_group" class="btn btn-secondary mt-4">Facerec Group</a>
    <a href="/ocr/plat_number" class="btn btn-secondary mt-4">OCR</a>
    <a href="/uploads" class="btn btn-secondary mt-4">Upload Gambar</a>
  </div>
  <h3>Button Status</h3>
  <p>Button Login: <span id="button_login">unknown</span></p>
  <p>Button Logout: <span id="button_logout">unknown</span></p>
</body>
</html>
<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    

<script>
  async function fetchButtonStatus() {
      const response = await fetch('/button_status');
      const data = await response.json();
      document.getElementById('button_login').innerText = data.button_login;
      document.getElementById('button_logout').innerText = data.button_logout;
  }
  setInterval(fetchButtonStatus, 500); // Fetch status every second
</script>